body {
  position: relative;
  margin: 0;
  font-family: sans-serif;
  color: #404040;
}

.modal-background {
  background: rgba(0,0,0,0.6);
  width: 100%;
  position: absolute;
  z-index: 9999;
  display: none;
  top: 0;
}

.modal-background.open {
  display: block;
  height: 100vh;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.modal {
  background-color: white;
  width: 600px;
  margin: 100px auto;
  position: relative;
  padding: 20px;
}

.modal-title {
  text-align: center;
  font-size: 24px;
}

.subtitle {
  text-align: center;
  font-size: 20px;
}

.category {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.separator {
  height: 1px;
  background-color: lightgray;
  margin: 25px 0;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

.input-label {
  margin: 5px 0;
  font-size: 16px;
}

.input-label>input {
  outline: none;
  border: none;
  border-bottom: 2px solid #339966;
  margin-left: 15px;
  font-size: 16px;
  color: #339966;
}

.input-radio-wrapper {
  margin-left: 8px;
  display: inline;
} 

.input-radio-wrapper>input[type="radio"] {
  display: none;
}

.input-radio-wrapper>input[type="radio"]+label {
  color: #339966;
  position: relative;
  padding-left: 22px;
  margin-right: 12px;
  cursor: pointer;
}

.input-radio-wrapper>input[type="radio"]+label:before {
  border: 1px solid #339966;
  width: 15px;
  height: 15px;
  left: 0;
  position: absolute;
  border-radius: 50%;
  content: '';
}

.input-radio-wrapper>input[type="radio"]:checked+label:before {
  content: 'â—';
  font-weight: 300;
  text-align: center;
  line-height: 1;
}

.modal-header {
  margin: 30px 0 25px;
}

.hidden {
  display: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #339966;
  margin-left: 15px;
  cursor: pointer;
}

.dropdown-selection {
  font-size: 16px;
  color: #339966;
}

.dropdown-menu {
  position: absolute;
  background-color: white;
  min-width: 160px;  
  border-radius: 2px;
  height: 146px;
  overflow-y: scroll;
  border: 1px solid lightgray;
  z-index: 1;
}

.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-menu ul li {
  color: #339966;
  font-size: 16px;
  padding: 5px 14px;
  border-top: 1px solid lightgray;
  user-select: none;
}

.dropdown-menu ul li:nth-child(1) {
  border: none;
}

.dropdown-menu ul li:hover {
  background-color: #F0F0F0;
}

.dropdown-selection .placeholder {
  color: #808080;
}

.car-logo-placeholder {
  position: absolute;
  right: 10px;
  bottom: 46px;
  width: 15%;
}

textarea {
  display: block;
  width: 100%;
  outline: none;
  border: 1px solid lightgray;
  font-size: 16px;
  border-radius: 2px;
  height: 50px;
  margin-top: 5px;
  color: #339966;
}

.color-choice {
    width: 50px;
    height: 15px;
    margin-bottom: 2px;
    background-color: red;
}

.secondary-btn {
  padding: 5px 10px;
  margin-right: 30px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid lightgray;
  border-radius: 2px;
  background-color: lightgray;
  color: white;
  font-weight: bold;
  display: inline;
  cursor: pointer;
}

.primary-btn {
  padding: 5px 10px;
  font-size: 13px;
  text-transform: uppercase;
  border: 1px solid #339966;
  border-radius: 2px;
  background-color: #339966;
  color: white;
  font-weight: bold;
}

.error {
  font-size: 11px;
  color: red;
}

.tooltip-img {
  background-color: lightgray;
  color: white;
  border-radius: 50%;
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 12px;
  text-align: center;
  line-height: 1.4;
  margin-left: 10px;
  margin-top: 1px;
  cursor: pointer;
}

.tooltip-img:hover:after {
  background-color: lightgray;
  position: absolute;
  width: 60px;
  height: 40px;
  content: attr(data-tooltip);
  border-radius: 2px;
  bottom: 22px;
  left: -5px;
} 

.dropdown-input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #339966;
}

.main-page-wrapper {
  text-align: center;
  padding-top: 200px; 
}

.main-page-wrapper >div {
  margin-bottom: 20px;
  font-size: 16px;
}